<ion-view title="Scanner">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-person-outline" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-content padding="true">

        <div style='background:red;display:table;margin:40% auto;padding:10px;color:white' ng-click='scan()'>
            Click Here to Scan
        </div>

        {{ "Produit :" + productScaned["0"].title.rendered}}
        <br>
        {{ "CodeBar :" + readingData["0"].code}}
        <br>
        {{ "Format :" + readingData["0"].format}}

        Result :

        {{productScaned}}
    </ion-content>
</ion-view>
