<ion-view title="Scanner">
        <ion-content class="homeContent" padding="true">

        <div style='background:green;display:table;margin:40% auto;padding:10px;color:white' ng-click='scan()'>
            Click Here to Scan
        </div>

        <div style='background:red;display:table;margin:40% auto;padding:10px;color:white' ng-click='scan()'>
            Inscription / Connexion
        </div>
    </ion-content>
</ion-view>
