<ion-view title="Historiques">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-person-outline" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-content padding="true">
    <div class="notFound">
        <h2 style="text-align: center;">
            <i class="ion-ios-list-outline"></i>
            Aucun Produit
        </h2>
        <h3>Scannez votre premier produit</h3>
    </div>
    </ion-content>
</ion-view>