<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet"/>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>


  <script src="lib/chart.js/dist/Chart.min.js"></script>
  <script src="lib/angular-chart.js/dist/angular-chart.min.js"></script>
  <script src="lib/moment/moment.js"></script>
  <script src="lib/angular-moment/angular-moment.min.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="views/home/controller.js"></script>
    <script src="views/scanner/controller.js"></script>
    <script src="views/statistiques/controller.js"></script>
    <script src="views/classements/controller.js"></script>
    <script src="views/historiques/controller.js"></script>
    <script src="views/produits/controller.js"></script>
  </head>
  
  <body ng-app="starter">
    <ion-side-menus ng-if="$root.hiddenHeader != true">
      <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-positive bgHeader nav-title-slide-ios7">
          <ion-nav-back-button class="button-icon"><span class="icon ion-ios7-arrow-left"></span></ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
      </ion-pane>

      <ion-side-menu side="left">
        <ion-header-bar class="bar bar-header bar-dark"></ion-header-bar>
        <ion-content has-header="true">
          <ion-list>
            <ion-item href="#/" menu-close>Mon Compte</ion-item>
            <ion-item href="#/about" menu-close>V2</ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus>

    <ion-nav-view class="noHeader" ng-if="$root.hiddenHeader == true"></ion-nav-view>
  </body>
</html>
