<ion-view title="Scanner">

    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-person-outline" ng-click="openMenu()"></button>
    </ion-nav-buttons>


    <ion-tabs class="tabs-icon-top grey-bg">

        <ion-tab title="Scanner" icon="ion-ios-barcode-outline" href="#/tab/scanner">
            <ion-nav-view name="scanner-tab"></ion-nav-view>
            <ion-nav-view name="produits-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Résumé" icon="ion-ios-pie-outline" href="#/tab/statistiques" >
            <ion-nav-view name="statistiques-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Produits" icon="ion-ios-paper-outline" href="#/tab/classements" >
            <ion-nav-view name="classements-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Historiques" icon="ion-ios-filing-outline" href="#/tab/historiques" >
            <ion-nav-view name="historiques-tab"></ion-nav-view>
        </ion-tab>


    </ion-tabs>
</ion-view>