<ion-view title="Historiques">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-person-outline" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-content padding="true">
        
        <div class="productIntro">
            <div class="threeCol">
                <img src="{{productScaned['0'].acf.image_du_produit}}" alt="">
            </div>
            <div class="nineCol"></div>


            <ul class="tableQltNutri">
                <li>
                    <h3>Qualité nutritionnelle</h3>
                </li>
                <li ng-repeat="item in productScaned['0'].acf.taille_dune_portion">
                    <!--<span class="circle"-->
                    <!--ng-style="{'background-color':colors[$index].pointBackgroundColor}"></span>-->

                    <div>
                        <h3>{{item.nomComposants}}</h3>
                    </div>

                    <p class="toRight">{{item.valeurComposants}}</p>
                </li>
            </ul>

            <img src="{{productScaned['0'].acf.image_du_tableau}}" alt="">
        </div>
        {{productScaned}}
    </ion-content>
</ion-view>