<ion-view title="Statistiques">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-person-outline" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-content padding="true">
        <div class="stats">
            <span><img src="images/ic_fork.png" alt=""></span>

            <canvas id="pie" class="chart chart-pie"
                    chart-data="data" chart-labels="labels" chart-colors="colors"
                    chart-override="override">
            </canvas>

            <span><img src="images/ic_knife.png" alt=""></span>
        </div>

        <ul class="tableQltNutri">
            <li>
                <h3>Qualité nutritionnelle</h3>
            </li>
            <li ng-repeat="item in labels">
                <span class="circle"
                ng-style="{'background-color':colors[$index].pointBackgroundColor}"></span>

                <div>
                    <h3>{{labels[$index]}}</h3>
                    <h3>{{data[$index]}} produits</h3>
                </div>

                <p class="toRight">{{data[$index]}}</p>
            </li>
        </ul>

    </ion-content>
</ion-view>