/* Empty. Add your own CSS if you like */

.grey-bg{
    background-color: #f4f4f4;
}

.tab-nav > a.tab-item * {
    color: #3d3d3d;
}

.tab-nav > a.tab-item.tab-item-active * {
    color: #2188c3;
    font-weight: bold;
}

.tab-nav > a.tab-item span {
    font-size: 11px;
    font-weight: 400;
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.tab-nav > a.tab-item i {
    margin: 5px 0 5px 0;
}

.tab-nav.tabs {
    height: 61px;
    border-top: 1px solid rgba(61, 61, 61, 0.1) !important;
}

.bar.bar-positive.bgHeader{
    background: #a0c74b
}

button.button.ion-ios-person-outline {
    border: 1px solid white !important;
    border-radius: 50%;
    width: 30px;
    height: 30px !important;
    line-height: 30px !important;
    min-height: initial !important;
    margin-top: 2px;
    margin-left: 5px;
}

button.button.ion-ios-person-outline:before {
    font-size: 22px !important;
    line-height: 27px !important;
}

.notFound h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #3d3d3d;
}

.notFound h2 i {
    display: block;
    font-size: 45px;
}

.notFound h3 {
    font-size: 15px;
    text-align: center;
    color: grey;
}

.notFound {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.scroll {
    height: 100%;
    background: #f0f4f5;
}

.bar.bar-positive .title {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.stats span {
    position: absolute;
    top: 40px;
    height: 200px;
    left: 20px;
}

.stats span img {
    height: 100%;
}

.stats span:last-child {
    right: 30px;
    left: initial;
}

.stats {
    margin: 30px 0;
}

ul.tableQltNutri {
    width: calc(100% - 40px);
    background: transparent;
    margin-left: 20px;
}

ul.tableQltNutri li {
    border: 1px solid #dedede;
    position: relative;
    padding: 5px 0;
    margin: 10px 0 0px 0;
    background: white;
}

ul.tableQltNutri li h3 {
    font-size: 16px;
    color: #3d3d3d;
}

ul.tableQltNutri li .circle {
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin: 10px;
}

ul.tableQltNutri li > div {
    display: inline-block;
    margin: 6px 0;
}

ul.tableQltNutri li:first-child h3 {
    padding: 10px 0 0 10px;
    font-weight: 600;
    color: black;
}

ul.tableQltNutri li:not(:first-child) h3:first-child {
    color: #3d3d3d;
    font-weight: 400;
    margin-bottom: 0;
}

ul.tableQltNutri li:not(:first-child) h3:last-child {
    color: #9e9e9e;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
}

ul.tableQltNutri li p.toRight {
    position: absolute;
    top: 0;
    right: 0;
    color: #a5a5a5;
    font-size: 16px;
    font-weight: 400;
    padding: 18px;
    margin: 0;
}

.threeCol{
    width:30%;
    display:inline-block;
}

.nineCol{
    width:70%;
    display:inline-block;
}

.threeCol img{
    width: 100%;
}


.homeContent .scroll {
    background-image: url('../images/bgHome.jpg');
    background-size: cover;
}


.homeContent .scroll:before {
    content:"";
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.55);
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}